<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Formatting" version="2.0.2" targetFramework="net45" />
  <package id="ImpromptuInterface" version="6.2.2" targetFramework="net45" />
  <package id="ImpromptuInterface.FSharp" version="1.2.13" targetFramework="net45" />
  <package id="jQuery" version="1.9.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.0.0-rc1" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.0.0-rc1" targetFramework="net45" />
  <package id="Microsoft.Owin" version="2.0.0-rc1" targetFramework="net45" />
  <package id="Microsoft.Owin.FileSystems" version="0.25.0-pre-21004-655-rel" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="2.0.0-rc1" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="2.0.0-rc1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="2.0.0-rc1" targetFramework="net45" />
  <package id="Microsoft.Owin.StaticFiles" version="0.25.0-pre-21004-655-rel" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="RazorEngine" version="3.3.0" targetFramework="net45" />
</packages>